<div>
  <h2 style="font-style: italic">Technician Home Page</h2>

  <div class="col-xs-4 col-md-4 col-lg-4">
      <div class="thumbnail">
          <div class="list-group">
              <div class="list-group-item ">
                  <h4 class="list-group-item-heading">Help Other Students</h4>
                  <button type="button" class="btn" ng-class="isShowProvide | btnState" ng-click="showProvide()">Provide A Service</button><br/>
              </div>
              </br>
               <div class="list-group-item ">
                  <h4 class="list-group-item-heading">View Your Services</h4>
                  <button type="button" class="btn" ng-class="isShowListServices | btnState" ng-click="showListServices()">My Services</button>
              </div>
              </br>
              <div class="list-group-item">
                  <h4 class="list-group-item-heading">Update Personal Info</h4>
                  <button type="button" class="btn" ng-class="isShowPersonalField | btnState" ng-click="modifyTechnician()">Update Account</button>
              </div>
              </br>
              <div class="list-group-item ">
                  <h4 class="list-group-item-heading">BYE</h4>
                  <button type="button" class="btn btn-warning" ng-click="deleteTechnician()">Delete this Account</button>
              </div>
          </div>
      </div>
  </div>

  <div class="col-xs-8 col-md-8 col-lg-8">
      <!-- SHOW PROMPTING SERIVCES-->
      <div class="thumbnail" ng-if="isShowProvide">
          <fieldset class="form-group">
             <label>Service Name</label>
      			 <select ng-model="field.serviceName" ng-options="item.serviceName for item in listServices">
      			 </select>
          </fieldset>
          <fieldset class="form-group">
            <label>Amount</label>
            <input type="amount" class="form-control" placeholder="Amount" ng-model="field.amount">
          </fieldset>
          <button type="button" class="btn btn-primary" ng-click="postService()">Add to My Services</button>
      </div>
       <!-- SHOW ALL SERVICES -->
      <div class = "thumbnail" ng-if="isShowListServices">
        <h2>My Services</h2>
        <div class="table-responsive" style="height:600px; width:100%; overflow:auto;">
             <table class="table table-striped" border = "0" cellpadding = "0" cellspacing = "2">
               <thead>
                 <tr>
                   <th>Service Name</th>
                   <th>Status</th>
                   <th>Time Stamp</th>
                   <th></th>
                 </tr>
               </thead>
               <tbody>
                 <tr ng-repeat="ser in listServices">
                   <td>{{ser.serviceName}}</td>
                   <td>{{ser.status}}</td>
                   <td>{{ser.formatDate}}</td>
                   <td>
                     <button type="button" class="btn btn-primary" ng-click="deleteService(ser.id)">Delete</button>
                   </td>
                 </tr>
               </tbody>
           </table>
        </div>
      </div>
      <!-- SHOW PROMPTING USER'S NEW INFO-->
      <div class="thumbnail" ng-if="isShowPersonalField">
          <fieldset class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Enter New Email" ng-model="user.email">
          </fieldset>

          <fieldset class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
          </fieldset>

          <fieldset class="form-group">
            <label>First Name</label>
            <input type="firstName" class="form-control" placeholder="Enter first name" ng-model="user.firstName">
          </fieldset>

          <fieldset class="form-group">
            <label>Last Name</label>
            <input type="lastName" class="form-control" placeholder="Enter last name" ng-model="user.lastName">
          </fieldset>

          <fieldset class="form-group">
            <label>Phone</label>
            <input type="phone" class="form-control" placeholder="Enter phone name" ng-model="user.phone">
          </fieldset>
          <button type="button" class="btn btn-primary" if-ng="user.email && user.password && user.firstName && user.lastName" ng-click="postModify()">POST</button>
      </div>
  </div>
</div>
