     <header id="top" class="header">
         <div class="text-vertical-center">
             <h1><font color="black">Pomelo Tech</font></h1>
             <h3><font color="black">"Smart people, having fun, looking good" - Dr. Turner</font></h3>
             <br>
             <!---<a href="#about" class="btn btn-dark btn-lg">Find Out More Cool Stuff</a> --->
         </div>
     </header>

          <!-- Call to Action -->
          <aside class="call-to-action bg-primary">
              <div class="container">
                    <form ng-if="!inSession" class="form-signin">
                    <fieldset class="form-group">
                      <h2 class="form-signin-heading">Login In</h2>
                      <label for="inputEmail" class="sr-only">Email address</label>
                      <input type="email" class="form-control" placeholder="Enter email" ng-model="user.email">
                    </fieldset>
                    <fieldset class="form-group">
                      <label for="inputPassword" class="sr-only">Password</label>
                      <input type="password" class="form-control" onkeydown = "if (event.keyCode == 13)
                                  document.getElementById('submit').click()" placeholder="Password" ng-model="user.password">
                    </fieldset>
                  </form>
                  <button type="button" id="submit" class="btn btn-lg btn-light" ng-click="login()">Login In</button>
                  <button class="btn btn-lg btn-dark" ng-click="addUser()">Sign Up</button>
              </div>
          </aside>

     <!-- About -->
     <section id="about" class="about">
         <div class="container">
             <div class="row">
                 <div class="col-lg-12 text-center">
                     <h2>Reduce, Reuse, Recycle</h2>
                     <p class="lead">When your electronics break you shouldn't have to buy a new one. Get connected to technicians in your area, and save your electronics, money, and the earth.</p>
                 </div>
             </div>
             <!-- /.row -->
         </div>
         <!-- /.container -->
     </section>

     <!-- Services -->
     <!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
     <section id="services" class="services bg-primary">
         <div class="container">
             <div class="row text-center">
                 <div class="col-lg-10 col-lg-offset-1">
                     <h2>Our Services</h2>
                     <hr class="small">
                     <div class="row">
                         <div class="col-md-3 col-sm-6">
                             <div class="service-item">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x"></i>
                                 <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                             </span>
                                 <h4>
                                     <strong>Fix iPhone & Android</strong>
                                 </h4>
                                 <p>Anywhere from cracked screens to broken buttons</p>

                             </div>
                         </div>
                         <div class="col-md-3 col-sm-6">
                             <div class="service-item">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x"></i>
                                 <i class="fa fa-compass fa-stack-1x text-primary"></i>
                             </span>
                                 <h4>
                                     <strong>Wi-fi Support & Setup</strong>
                                 </h4>
                                 <p>Get connected & stay connected</p>

                             </div>
                         </div>
                         <div class="col-md-3 col-sm-6">
                             <div class="service-item">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x"></i>
                                 <i class="fa fa-flask fa-stack-1x text-primary"></i>
                             </span>
                                 <h4>
                                     <strong>Fix Laptops & Desktops</strong>
                                 </h4>
                                 <p>Whether you're Mac or Windows, we've got you covered</p>

                             </div>
                         </div>
                         <div class="col-md-3 col-sm-6">
                             <div class="service-item">
                                 <span class="fa-stack fa-4x">
                                 <i class="fa fa-circle fa-stack-2x"></i>
                                 <i class="fa fa-shield fa-stack-1x text-primary"></i>
                             </span>
                                 <h4>
                                     <strong>Setup Business Networks</strong>
                                 </h4>
                                 <p>Your focus should be your business, let us handle the dirty work</p>

                             </div>
                         </div>
                     </div>
                     <!-- /.row (nested) -->
                 </div>
                 <!-- /.col-lg-10 -->
             </div>
             <!-- /.row -->
         </div>
         <!-- /.container -->
     </section>

     <!-- Callout -->
     <aside class="callout">
         <!--<div class="text-vertical-center">
             <h1>Vertically Centered Text</h1>
         </div>--->
     </aside>

     <!-- Comment out unneeded section until have content to fill it -->
     <!--- <!-- Portfolio
     <section id="portfolio" class="portfolio">
         <div class="container">
             <div class="row">
                 <div class="col-lg-10 col-lg-offset-1 text-center">
                     <h2>Our Work</h2>
                     <hr class="small">
                     <div class="row">
                         <div class="col-md-6">
                             <div class="portfolio-item">
                                 <a href="#">
                                     <img class="img-portfolio img-responsive" src="css/home/img/portfolio-1.jpg">
                                 </a>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="portfolio-item">
                                 <a href="#">
                                     <img class="img-portfolio img-responsive" src="css/home/img/portfolio-2.jpg">
                                 </a>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="portfolio-item">
                                 <a href="#">
                                     <img class="img-portfolio img-responsive" src="css/home/img/portfolio-3.jpg">
                                 </a>
                             </div>
                         </div>
                         <div class="col-md-6">
                             <div class="portfolio-item">
                                 <a href="#">
                                     <img class="img-portfolio img-responsive" src="css/home/img/portfolio-4.jpg">
                                 </a>
                             </div>
                         </div>
                     </div>
                     <!-- /.row (nested)
                     <a href="#" class="btn btn-dark">View More Items</a>
                 </div>
                 <!-- /.col-lg-10
             </div>
             <!-- /.row
         </div>
         <!-- /.container
     </section> --->

     <!-- Map -->
     <section id="contact" class="map">
         <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3477.654539657165!2d-120.66486252917552!3d35.30519539043805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ecf1b4054c3551%3A0x98b3b48a29d99103!2sCalifornia+Polytechnic+State+University!5e0!3m2!1sen!2sus!4v1481095087621"></iframe>
         <br />
         <small>
             <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3477.654539657165!2d-120.66486252917552!3d35.30519539043805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80ecf1b4054c3551%3A0x98b3b48a29d99103!2sCalifornia+Polytechnic+State+University!5e0!3m2!1sen!2sus!4v1481095087621"></a>
         </small>
         </iframe>
     </section>

     <!-- Footer -->
     <footer>
         <div class="container">
             <div class="row">
                 <div class="col-lg-10 col-lg-offset-1 text-center">
                     <h4><strong>Pomelo Tech</strong>
                     </h4>
                     <p>San Luis Obispo, CA 93405</p>
                     <ul class="list-unstyled">
                         <li><i class="fa fa-phone fa-fw"></i> (123) 456-7890</li>
                         <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:name@example.com">contact@pamelotech.com</a>
                         </li>
                     </ul>
                     <br>
                     <ul class="list-inline">
                         <li>
                             <a href="#"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                         </li>
                         <li>
                             <a href="#"><i class="fa fa-dribbble fa-fw fa-3x"></i></a>
                         </li>
                     </ul>
                     <hr class="small">
                     <p class="text-muted">Copyright &copy; Pomelo Tech 2016</p>
                 </div>
             </div>
         </div>
         <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
     </footer>

     <!-- Custom Theme JavaScript -->
     <script>
     // Closes the sidebar menu
     $("#menu-close").click(function(e) {
         e.preventDefault();
         $("#sidebar-wrapper").toggleClass("active");
     });
     // Opens the sidebar menu
     $("#menu-toggle").click(function(e) {
         e.preventDefault();
         $("#sidebar-wrapper").toggleClass("active");
     });
     // Scrolls to the selected menu item on the page
     $(function() {
         $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
             if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                 var target = $(this.hash);
                 target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                 if (target.length) {
                     $('html,body').animate({
                         scrollTop: target.offset().top
                     }, 1000);
                     return false;
                 }
             }
         });
     });
     //#to-top button appears after scrolling
     var fixed = false;
     $(document).scroll(function() {
         if ($(this).scrollTop() > 250) {
             if (!fixed) {
                 fixed = true;
                 // $('#to-top').css({position:'fixed', display:'block'});
                 $('#to-top').show("slow", function() {
                     $('#to-top').css({
                         position: 'fixed',
                         display: 'block'
                     });
                 });
             }
         } else {
             if (fixed) {
                 fixed = false;
                 $('#to-top').hide("slow", function() {
                     $('#to-top').css({
                         display: 'none'
                     });
                 });
             }
         }
     });
     // Disable Google Maps scrolling
     // See http://stackoverflow.com/a/25904582/1607849
     // Disable scroll zooming and bind back the click event
     var onMapMouseleaveHandler = function(event) {
         var that = $(this);
         that.on('click', onMapClickHandler);
         that.off('mouseleave', onMapMouseleaveHandler);
         that.find('iframe').css("pointer-events", "none");
     }
     var onMapClickHandler = function(event) {
             var that = $(this);
             // Disable the click handler until the user leaves the map area
             that.off('click', onMapClickHandler);
             // Enable scrolling zoom
             that.find('iframe').css("pointer-events", "auto");
             // Handle the mouse leave event
             that.on('mouseleave', onMapMouseleaveHandler);
         }
         // Enable map zooming with mouse scroll when the user clicks the map
     $('.map').on('click', onMapClickHandler);
     </script>
