.panel{
	position:relative;
	top:100px;
}

.panel-body img{
	border:2px solid black;
}
.panel-heading{
	height:370px;
	
}

.panel-heading h2{
	font-weight:bolder;
	
}
.panel p{
	font-size:15px;
	float:left;
	font-weight:lighter;
}